:root{
    --dark-main-color: rgb(47, 49, 54);
    --dark-darker-color: rgb(32, 34, 37);
    --main-accent-color: rgb(114, 137, 218);
    --main-text-color: rgb(248, 248, 242);
}
#conversation{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-x: hidden;
}

.msg-container-mine{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    padding: 8px 16px;
    overflow: visible;
}

.msg-container-other{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 16px;
}

.msg-div{
    height: fit-content;
    min-height: 60px;
    padding: 8px;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 8px;
    min-width: 100px;
    max-width: 75%;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
}

.msg-container-mine > .msg-div{
    display: flex;
    background-color: var(--main-accent-color);

}

.msg-container-other > .msg-div{
    display: flex;
    background-color: rgba(248, 248, 242, 0.15);
}

.msg-div > .msg-sender{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--main-text-color);
    font-size: 0.5rem;
    font-weight: normal;
    
}

.msg-container-other > .msg-div > .msg-sender{
    top: 8px;
    left: -8px;
}

.msg-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    color: var(--main-text-color);
    font-size: 1rem;
    font-weight: normal;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}