:root {
    /*discord dark theme main color*/
    --dark-main-color: rgb(47, 49, 54);
    --dark-darker-color: rgb(32, 34, 37);
    --main-accent-color: rgb(114, 137, 218);
    --main-text-color: rgb(248, 248, 242);
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark-main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#url-input {
    width: 100%;
    height: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 0.5rem;
    outline: none;
}

#connect-button {
    transition: box-shadow 0.2s ease-out;
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-accent-color);
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
}

#connect-button:hover {
    /*Glow effect*/
    transition: box-shadow 0.2s ease-in;
    box-shadow: 0 0 10px var(--main-accent-color);
}

.loader {
    border: 6px solid rgba(248, 248, 242, 0.25);
    /* Light grey */
    border-top: 6px solid var(--main-accent-color);
    /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.app-section{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-main-color);
}

input::placeholder{
    color: rgba(248, 248, 242, 0.35);
}

.app-section.active{
    display: flex !important;
}

#main-section{
    width: 100%;
    flex-direction: row !important;
    align-items: flex-start;
    justify-content: flex-start;
}

.app-subsection{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#left-main-panel{
    width: calc(100vw/8 * 1);
    border-right: 1px solid var(--main-accent-color);
    background-color: var(--dark-darker-color);
    padding: 8px 16px;
    min-width: 300px;
}

#centre-main-panel{
    width: calc(100vw/8 * 7);
    max-width: calc(100vw/8 * 7);
    border-right: 1px solid var(--main-accent-color);
    background-color: var(--dark-main-color);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}

#right-main-panel{
    width: calc(100vw/8 * 1);
    border-right: 1px solid var(--main-accent-color);
    background-color: var(--dark-darker-color);
}

.subsection-title{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: var(--main-text-color);
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin: 8px 0;
}

#msg-input-container{
    width: 100%;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-darker-color);
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    outline: none;
    padding: 8px 16px;
}
#send-btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    margin-left: 16px;
}

#message-input{
    width: 100%;
    max-width: 800px;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(248, 248, 242, 0.15);
    color: var(--main-text-color);
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 0.5rem;
    outline: none;
    border-radius: 8px;
}

#send-btn{
    display: flex;
    width: 75px;
    height: 100%;
    background-color: var(--main-accent-color);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

#topic-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    background-color: var(--dark-darker-color);
    padding: 8px 16px;
}

.list-group-item{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--main-text-color);
    background-color: var(--dark-darker-color);
    padding: 8px 16px;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1rem;
}

.list-group-item:hover{
    opacity: 1;
    color: var(--main-accent-color);
    text-shadow: 0 0 5px var(--main-accent-color);
}

.active-topic{
    opacity: 1;
    color: var(--main-accent-color);
    text-shadow: 0 0 5px var(--main-accent-color);
}

#chat-header{
    width: 100%;
    background-color: var(--dark-darker-color);
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#active-topic-label{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--main-text-color);
    margin-left: 16px;
    white-space: nowrap;
}
#header-space{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#status-label{
    font-size: 1rem;
    font-weight: bolder;
    color: var(--main-text-color);
    margin-left: 16px;
    margin-right: 16px;
}

#status-label.online{
    color: rgb(0, 255, 0);
    text-shadow: 0 0 5px rgb(0, 255, 0);
}

#status-label.offline{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px rgb(255, 0, 0);
}

#add-topic-btn{
    transition: background-color 0.2s ease-in-out;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(248, 248, 242, 0.05);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: lighter;
    color: rgba(248, 248, 242, 0.75);
}

#add-topic-btn:hover{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(248, 248, 242, 0.15);
}

#add-topic-btn > svg{
    fill: rgba(248, 248, 242, 0.75);
    margin-right: 8px;
}